

.acard2{
    border: 1px solid lightgray;
    box-sizing: border-box;
    background-color: #161616eb;
    border-radius: 25px 25px 25px 25px ;
    font-weight: 400;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 3%;
 }
 .acard2>h5{
    color: rgb(20, 128, 210);
    font-size: 30px;
 }
 .acard2>span{
    color: white;
    font-size: large;
 }
 .acard2>p{
    color:#8a8989 ;
 }
 