.contact-card1{
    border: 1px solid lightgray;
    box-sizing: border-box;
    background-color: #222020;
    border-radius: 25px 25px 25px 25px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    min-width: 360px;
    max-width: 450px;
    margin:0 auto;
 }
.contact-card1>.span-info{
    color: white;
    font-size: medium;
    font-weight: 500;
}
.contact-card1>.message{
    width: 100%;
    padding:40px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social-icons{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.social-icons>.social-icon1{
    width: 25%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #484646;
    border: 1px solid rgb(162, 157, 157);
}
.social-icons>.social-icon1>.allicon1{
    font-size: 50px;
}
.contact-card1>.message>.message-icon{
    width: 20%;
    background-color: #484646;
    border: 1px solid rgb(162, 157, 157);
    height: 65px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card1>.message>.message-content{
    width: 70%;
}
.contact-card1>.message>.message-content>span{
    color: #615f5f;
    font-size: medium;
    font-weight: 500;
}
.contact-card1>.message>.message-content>p{
    color: white;
    font-size: large;
    font-weight: 400;
}
.contact-card1>.message>.message-icon>.allicon{
    font-size: 30px;
    color: white;
}